<a href="https://colab.research.google.com/github/MaksimSmolenkov/3/blob/main/%D0%BF%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D1%83%D0%BC5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import warnings

##1

In [ ]:
listName = ["Strom, Mrs. Wilhelm (Elna Matilda Persson)", "Navratil, Mr. Michel (\"Louis M Hoffman\")", "Minahan, Miss. Daisy E"]
listAge = [
  29, 36.5, 33
]
listSex = [
  "female", "male", "female"
]
columns = ['Name', 'Age', 'Sex']
df1 = pd.DataFrame(zip(listName, listAge, listSex), columns=columns)
df1

                                         Name   Age     Sex
0  Strom, Mrs. Wilhelm (Elna Matilda Persson)  29.0  female
1    Navratil, Mr. Michel ("Louis M Hoffman")  36.5    male
2                      Minahan, Miss. Daisy E  33.0  female

##2

In [16]:
df2 = pd.read_csv('titanic_csv.csv', delimiter=';')
df2 = df2.rename (
    columns = {
        'PassengerId' : 'passengerid',
        'Pclass' : 'pclass',
        'Survived' : 'survived',
        'Name' : 'name',
        'Sex'  : 'sex',
        'Age' : 'age',
        'SibSp'      : 'sibsp',
        'Parch' : 'parch',
        'Ticket' : 'ticket',
        'Fare' : 'fare',
        'Cabin' : 'cabin',
        'Embarked' : 'embarked'
    }
)
df2

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,454,1,1,"Goldenberg, Mr. Samuel L",male,49.0,1,0,17453,89.1042,C92,C
1,234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.0,4,2,347077,31.3875,NaN,S
2,556,0,1,"Wright, Mr. George",male,62.0,0,0,113807,26.5500,NaN,S
3,766,1,1,"Hogeboom, Mrs. John C (Anna Andrews)",female,51.0,1,0,13502,77.9583,D11,S
4,444,1,2,"Reynaldo, Ms. Encarnacion",female,28.0,0,0,230434,13.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
489,363,0,3,"Barbara, Mrs. (Catherine David)",female,45.0,0,1,2691,14.4542,NaN,C
490,447,1,2,"Mellinger, Miss. Madeleine Violet",female,13.0,0,1,250644,19.5000,NaN,S
491,95,0,3,"Coxon, Mr. Daniel",male,59.0,0,0,364500,7.2500,NaN,S
492,59,1,2,"West, Miss. Constance Mirium",female,5.0,1,2,C.A. 34651,27.7500,NaN,S
493,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q

##3

In [10]:
df3 = pd.read_csv('https://gist.githubusercontent.com/zaryanezrya/8b4ef51c707cb16d5e88a44dc00a1bb2/raw/41230f49c6268e072dbf102672f670be256922ab/gistfile1.txt')
df3

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,552,0,2,"Sharp, Mr. Percival James R",male,27.0,0,0,244358,26.0000,NaN,S
1,689,0,3,"Fischer, Mr. Eberhard Thelander",male,18.0,0,0,350036,7.7958,NaN,S
2,605,1,1,"Homer, Mr. Harry (""Mr E Haven"")",male,35.0,0,0,111426,26.5500,NaN,C
3,305,0,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500,NaN,S
4,290,1,3,"Connolly, Miss. Kate",female,22.0,0,0,370373,7.7500,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
495,482,0,2,"Frost, Mr. Anthony Wood ""Archie""",male,NaN,0,0,239854,0.0000,NaN,S
496,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
497,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.0,4,2,347082,31.2750,NaN,S
498,850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C
499,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S

In [28]:
df = pd.merge(df2, df3, how = 'outer')
df

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,454,1,1,"Goldenberg, Mr. Samuel L",male,49.0,1,0,17453,89.1042,C92,C
1,234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.0,4,2,347077,31.3875,NaN,S
2,556,0,1,"Wright, Mr. George",male,62.0,0,0,113807,26.5500,NaN,S
3,766,1,1,"Hogeboom, Mrs. John C (Anna Andrews)",female,51.0,1,0,13502,77.9583,D11,S
4,444,1,2,"Reynaldo, Ms. Encarnacion",female,28.0,0,0,230434,13.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
889,445,1,3,"Johannesen-Bratthammer, Mr. Bernt",male,NaN,0,0,65306,8.1125,NaN,S
890,640,0,3,"Thorneycroft, Mr. Percival",male,NaN,1,0,376564,16.1000,NaN,S
891,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.0,4,2,347082,31.2750,NaN,S
892,850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C
893,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S

In [29]:
df = df.set_index('passengerid')

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
passengerid,,,,,,,,,,,
454,1,1,"Goldenberg, Mr. Samuel L",male,49.0,1,0,17453,89.1042,C92,C
234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.0,4,2,347077,31.3875,NaN,S
556,0,1,"Wright, Mr. George",male,62.0,0,0,113807,26.5500,NaN,S
766,1,1,"Hogeboom, Mrs. John C (Anna Andrews)",female,51.0,1,0,13502,77.9583,D11,S
444,1,2,"Reynaldo, Ms. Encarnacion",female,28.0,0,0,230434,13.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
445,1,3,"Johannesen-Bratthammer, Mr. Bernt",male,NaN,0,0,65306,8.1125,NaN,S
640,0,3,"Thorneycroft, Mr. Percival",male,NaN,1,0,376564,16.1000,NaN,S
851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.0,4,2,347082,31.2750,NaN,S
850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C
77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S

In [51]:
df.sort_values

<bound method DataFrame.sort_values of              survived  pclass                                          name  \
passengerid
454                 1       1                      Goldenberg, Mr. Samuel L
234                 1       3                Asplund, Miss. Lillian Gertrud
556                 0       1                            Wright, Mr. George
766                 1       1          Hogeboom, Mrs. John C (Anna Andrews)
444                 1       2                     Reynaldo, Ms. Encarnacion
...               ...     ...                                           ...
445                 1       3             Johannesen-Bratthammer, Mr. Bernt
640                 0       3                    Thorneycroft, Mr. Percival
851                 0       3       Andersson, Master. Sigvard Harald Elias
850                 1       1  Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
77                  0       3                             Staneff, Mr. Ivan

                sex   age  sibsp  parch  ticket     fare cabin embarked
passengerid
454            male  49.0      1      0   17453  89.1042   C92        C
234          female   5.0      4      2  347077  31.3875   NaN        S
556            male  62.0      0      0  113807  26.5500   NaN        S
766          female  51.0      1      0   13502  77.9583   D11        S
444          female  28.0      0      0  230434  13.0000   NaN        S
...             ...   ...    ...    ...     ...      ...   ...      ...
445            male   NaN      0      0   65306   8.1125   NaN        S
640            male   NaN      1      0  376564  16.1000   NaN        S
851            male   4.0      4      2  347082  31.2750   NaN        S
850          female   NaN      1      0   17453  89.1042   C92        C
77             male   NaN      0      0  349208   7.8958   NaN        S

[894 rows x 11 columns]>

In [49]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 894 entries, 454 to 77
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  894 non-null    int64
 1   pclass    894 non-null    int64
 2   name      894 non-null    object
 3   sex       894 non-null    object
 4   age       716 non-null    float64
 5   sibsp     894 non-null    int64
 6   parch     894 non-null    int64
 7   ticket    894 non-null    object
 8   fare      894 non-null    float64
 9   cabin     204 non-null    object
 10  embarked  892 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.8+ KB

         survived      pclass         age       sibsp       parch        fare
count  894.000000  894.000000  716.000000  894.000000  894.000000  894.000000
mean     0.382550    2.310962   29.685992    0.522371    0.380313   32.121914
std      0.486282    0.835624   14.509157    1.101283    0.805005   49.630180
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.375000    0.000000    0.000000    7.895800
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [55]:
df.iloc[0, :] = df.iloc[2, :]
df

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
passengerid,,,,,,,,,,,
454,0,1,"Wright, Mr. George",male,62.0,0,0,113807,26.5500,NaN,S
234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.0,4,2,347077,31.3875,NaN,S
556,0,1,"Wright, Mr. George",male,62.0,0,0,113807,26.5500,NaN,S
766,1,1,"Hogeboom, Mrs. John C (Anna Andrews)",female,51.0,1,0,13502,77.9583,D11,S
444,1,2,"Reynaldo, Ms. Encarnacion",female,28.0,0,0,230434,13.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
445,1,3,"Johannesen-Bratthammer, Mr. Bernt",male,NaN,0,0,65306,8.1125,NaN,S
640,0,3,"Thorneycroft, Mr. Percival",male,NaN,1,0,376564,16.1000,NaN,S
851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.0,4,2,347082,31.2750,NaN,S
850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C
77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S

In [56]:
def f(x):
  if x == "female":
    return "f"
  else:
    return "m"

df['sex'] = df['sex'].map(f)
df

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
passengerid,,,,,,,,,,,
454,0,1,"Wright, Mr. George",m,62.0,0,0,113807,26.5500,NaN,S
234,1,3,"Asplund, Miss. Lillian Gertrud",f,5.0,4,2,347077,31.3875,NaN,S
556,0,1,"Wright, Mr. George",m,62.0,0,0,113807,26.5500,NaN,S
766,1,1,"Hogeboom, Mrs. John C (Anna Andrews)",f,51.0,1,0,13502,77.9583,D11,S
444,1,2,"Reynaldo, Ms. Encarnacion",f,28.0,0,0,230434,13.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
445,1,3,"Johannesen-Bratthammer, Mr. Bernt",m,NaN,0,0,65306,8.1125,NaN,S
640,0,3,"Thorneycroft, Mr. Percival",m,NaN,1,0,376564,16.1000,NaN,S
851,0,3,"Andersson, Master. Sigvard Harald Elias",m,4.0,4,2,347082,31.2750,NaN,S
850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",f,NaN,1,0,17453,89.1042,C92,C
77,0,3,"Staneff, Mr. Ivan",m,NaN,0,0,349208,7.8958,NaN,S

In [117]:
count_pass = df.groupby('ticket').agg({'name': 'size'})
cm6 = count_pass[count_pass['name'] >=6].index
for i in cm6:
  print(count_pass.loc[i, ['name']])

name    7
Name: 1601, dtype: int64
name    6
Name: 3101295, dtype: int64
name    7
Name: 347082, dtype: int64
name    6
Name: 347088, dtype: int64
name    6
Name: CA 2144, dtype: int64
name    7
Name: CA. 2343, dtype: int64